.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'Material Icons';
    font-size: 4rem;
}
.owl-nav {height:0;margin:0;}
.owl-carousel .owl-nav .owl-prev:before{
    font-family: "Material Icons";
    content: "\E5CB";
    font-size: 4rem;
    margin-left:16px;
    position: absolute;
	  top: 40%;
    left: 0px;
    height: auto;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1),
                 0px 0px 8px rgba(0,0,0,0.05),
                 0px 0px 12px rgba(0,0,0,0.05);
}
.owl-carousel .owl-nav .owl-next:after{
    font-family: "Material Icons";
    content: "\E5CC";
    font-size: 4rem;
    margin-right: 16px;
    position: absolute;
	  top: 40%;
    right: 0px;
    height: 100%;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1),
                 0px 0px 8px rgba(0,0,0,0.05),
                 0px 0px 12px rgba(0,0,0,0.05);
}


