html{
	font-family: "Roboto", sans-serif !important;
	
}

.unalabGreen {
	background-color: #77943E !important;
}

.unalabText {
	color: #77943E !important;
}

.unalabOrange {
	
	color: black !important;
}

.unalabLightGreen {
	background-color: #b3b980 !important;
}

#filter {
	background-color: #77943E !important;
}

.unalabRadio {
	
	pointer-events: none !important;
/* 	left: 500px !important; */
	opacity: 1 !important;
	position: inherit !important;
	
}

.unalabInput 
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	box-shadow: none; 
	box-sizing: content-box;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s
}

.unalabInput:focus
{
	border-bottom: 1px solid #77943E !important;
	box-shadow: 0 1px 0 0 #77943E !important;
	
}



.unalabInput:focus + label {
	color: #77943E !important;
	
}

.unalabTd {
	padding: 0 !important;
}

.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #77943E !important;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.img-card {
	
	max-width:90%; 
	margin-left: auto;
	margin-right: auto; 
	vertical-align: middle; 
	display:block; 
	height: auto;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #77943E !important;
  background-color: #77943E !important;
  z-index: 0;
}

.icon-block{
	
	margin-top: -40px;
}

.card .card-content .card-title {
    display: block;
    line-height: 14px !important;
    margin-bottom: 8px;
}

.collapsible-body {
    display: block !important;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 1rem !important;
}
    
    .card-image{
    /*height: 100px !important; /* Your height here */
    overflow: hidden;
    /*margin-top: 10% !important;*/
}

.card.small {
    height: 160px !important;
}

.card.horizontal .card-image {
    max-width: 30% !important;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #b3b980 !important;
}



.footer-logo{
	max-height: 38px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.footer-section.section-center {
    justify-content: flex-start;
}

.footer-section.section-right {
    justify-content: flex-end;
}

.footer-section.section-left{
    justify-content: flex-start;
}
.customPagination{
	position: fixed ;
	bottom: 30px;
	left: 50%;
}

.login {
	width: 40%;
}

.myinput {
	width: 70% !important;
	
}

.btn:hover, .btn-large:hover, .btn-small:hover{
	background-color: #b3b980 !important;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{
	background-color: #b3b980 !important;
}

.dropdown-user-big {
	color: white !important;
}

.mynav {
	margin-right: -209px;
	height: 64px;
}

.citycardtitle {
	left: 15px !important;
}

.citycard {
	width: 75% !important;
}

.text_center {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 34px;
    font-size: 1.4em;
    color: red;
    background-color: white;
    margin: 10px;
    padding: 5px 10px;
    text-transform: uppercase;

}


.checkbox-unalab[type="checkbox"].with-gap:checked + label:after{
     border: 2px solid #77943e !important;
     background-color: #77943e !important;
}

.managerFilter {
	background-color: #77943E !important;
	color: white !important;
}

.testStyle{
	left: auto !important;
	top: 0px !important;
}

@media only screen and (min-width: 1200px) {
html {
	font-size: 14px !important;

}

#chooseType{
	left: 87% !important;
	width: 200px !important;
	height: 20% !important;
}


.error{
	display: none;
	margin-left: 10px;
}		
		
.error_show{
	color: red;
	margin-left: 10px;
}
		
/* input.invalid, textarea.invalid{ */
/* 	border: 2px solid red; */
/* } */
		
/* input.valid, textarea.valid{ */
/* 	border: 2px solid green; */
/* } */
}

#canvasContainer {
 	display:block;
}

#table1{
	overflow-y: auto;
    display: block;
    height: 46vh;
    margin-top: 8%;
}

#table1 thead tr th {
	font-size:12px;
}

#chart1{
	height: 50% !important;
	padding: 5%;
}

.smallTable{
	left:85% !important;
}
#body1 {
    font-size:12px;
}
#body1 tr td {
	line-height:2px;
}
.varianceContainer {
	width: 100%;
    position: relative;
}
.kpiText {
	display: inline-block;
	position: absolute;
    top: -5%;
    left: 40%;
}