/* table.sortable-table */
/* { */
/*     border: thin #ccc solid; */
/*     margin: 1em; */
/*     border-collapse: collapse; */
/* } */
/* table.indexed  { */
/*     counter-reset: rowNumber; */
/* } */
/* table.indexed tr.indexed{ */
/*     counter-increment: rowNumber; */
/* } */

/* table.indexed tr.indexed td.indexed span::before{ */
/*     content: counter(rowNumber); */
/* } */
/* table.sortable-table th{ */
/*     padding-left: 26px; */
/*     background-color: #ddd; */
/* } */
 table.sortable-table th.ascending, 
 table.sortable-table th.descending{ 
     background-repeat: no-repeat; 
     background-position-x: 35%; 
     background-position-y: center;
     background-size: 4%; 
 } 
table.sortable-table th.ascending {
    background-image: url(/cpm_v2/img/angle-arrow-down.svg);
    
}
table.sortable-table th.descending{
    background-image: url(/cpm_v2/img/navigate-up-arrow.svg);
}
/* table.sortable-table tr.highlight-row { */
/*     background-color: paleturquoise; */
/* } */
/* table.sortable-table tr td, */
/* table.sortable-table tr th */
/* { */
/*     border: thin #ccc solid; */
/*     padding: 0.5em; */

/* } */