.button-grow {
    display: block !important;
    width: 320px;
    margin: 80px 0 !important;
}

.button-grow a {
    font-family: 'Raleway', 'Lato', 'helvetica', 'sans-serif' !important;
    font-weight: 600 !important;
    width: 100%;
    display: block !important;
    padding: 2em 4em !important;
    text-align: center !important;
}

.formulize-custom {
    height: auto !important;
    font-family: 'Inconsolata', 'Consolas', sans-serif !important;
    border-radius: 0 !important;
    color: #000000;
    font-weight: 600;
    border: 1px solid #d8d8d8;
    padding: .6em 1em !important;
    background-color: #ffffff;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, .125);
    margin: 0 1.6em;
}

.formulize-custom:hover {
    background-color: #fafafa;
}

.formulize-wrapper .formulize-custom {
    padding: .2em .6em !important;
}

.formulize-drop .formulize-drop-items {
    margin-top: 40px;
    text-align: center;
}

.formulize-wrapper {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .125);
    border: 1px solid #d8d8d8;
}

.formulize-wrapper .formulize-container {
    background-color: #f2f2f2;
    height: 300px;
}

.formulize-get-json {
    font-family: 'Inconsolata', 'Consolas', sans-serif !important;
    margin-top: 20px;
    margin-bottom: 160px;
    background-color: #f8f8f8;
    font-size: 115%;
    padding: 6em 2.4em;
    border: 1px solid #d8d8d8;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .125);
    line-height: 1.6;
    text-align: center;
}

.formulize-get-json.filled {
    text-align: left;
    min-height: 240px;
    padding: 1.6em 2.4em;
}

.formulize-get-json .ribbon {
    position: absolute !important;
    top: 20px;
    right: 0;
    margin-left: -15px !important;
}